extends layout

block css
	link(href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css", rel="stylesheet")
	link(href="https://cdn.datatables.net/1.10.16/css/dataTables.material.min.css", rel="stylesheet")
	link(href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css", rel="stylesheet")

block script
	script(src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
	script(src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js")
	script(src="https://cdn.datatables.net/1.10.16/js/dataTables.material.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js")
	script(src="/js/modernizr.js")
	script(src="/js/main.js")
	
	script.
		var usersData = !{JSON.stringify(users)};
		$(document).ready( function () {
			var table = $('#table-schedule').DataTable({
				responsive: true,
				ajax: {
					url: 'sort?class=1',
					dataSrc: ''
				},
				columns: [
					{ "data": "class" },
					{ "data": "name" },
					{ "data": "teachingSubject" },
					{ "data": "start_class" },
					{ "data": "end_class" }
				],
				dom: 'Bfrtip',
				buttons: [
					{
						text: 'Class 1',
						className: 'mdl-button mdl-button--raised mdl-button--colored',
						action: function ( e, dt, node, config ) {
							table.ajax.url( 'sort?class=1' ).load();
						}
					},
					{
						text: 'Class 2',
						className: 'mdl-button mdl-button--colored',
						action: function ( e, dt, node, config ) {
							table.ajax.url( 'sort?class=2' ).load();
						}
					},
					{
						text: 'Class 3',
						className: 'mdl-button mdl-button--colored',
						action: function ( e, dt, node, config ) {
							table.ajax.url( 'sort?class=3' ).load();
						}
					}
				]
			});

			function fetchData(id) {
				var events = [];
				$.ajax({
					url: '/schedule?id=' + id,
					type: 'GET',
					dataType: 'json',

					success: function(doc) {
						$.each(doc, function(i, el) {
							events.push({
								title: el.title,
								start: el.start,
								end: el.end
							});
						});
					}
				});
				return events;
			}

			$('#calendar').fullCalendar({
				header: {
					//- left: 'listMonth,month',
					//- center: 'title',
					//- right: 'class1,class2,class3'
				},
				views: {
					listDay: { buttonText: 'list day' },
					listWeek: { buttonText: 'list week' }
				},
				customButtons: {
					class1: {
						text: 'Class 1',
						click: function(event, element){
							var data = fetchData(1);
							$('#calendar').fullCalendar('refetchEventSources', data);
						}
					},
					class2: {
						text: 'Class 2',
						click: function(event, element){
							var data = fetchData(2);
							console.log(data)
						}
					},
					class3: {
						text: 'Class 3',
						click: function(event, element){
							var data = fetchData(3);
							console.log(data)
						}
					}
				},
				defaultView: 'listMonth',
				navLinks: true, // can click day/week names to navigate views
				editable: true,
				eventLimit: true, // allow "more" link when too many events
				events: {
					url: '/schedule',
				},
				eventClick: function(calEvent, jsEvent, view) {
					alert('Event: ' + calEvent.title);
					alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
					alert('View: ' + view.name);

					// change the border color just for fun
					$(this).css('border-color', 'red');
				}
			});
		});

block content
	nav.navbar.navbar-inverse
		.container-fluid
			.navbar-header
				a.navbar-brand(href='#') i<strong>HRMS</strong>
			
			ul.nav.navbar-nav.navbar-right
				if(!user)
					li
						a(href='/register')
							span.glyphicon.glyphicon-user
							|  Register
					li
						a(href='/login')
							span.glyphicon.glyphicon-log-in
							|  Login
				else
					p.navbar-text
						span.glyphicon.glyphicon-user
						|  You are currently logged in as #{user.username}
					li
						a(href="/logout")
							span.glyphicon.glyphicon-log-in
							|  Logout
	.container-fluid
		.row
			.col-md-10.col-md-offset-1
				if (error && error.length > 0)
					.alert.alert-danger!= error

		.row
			.col-md-6
				.table-responsive
					table#table-schedule.table
						thead
							th Class
							th Teacher
							th Subject
							th Start Class Time
							th End Class Time
						tbody
							//- each data in users
								tr
									//- each val in data.teachingClass
										td!= val.classroom
									td!= data.teachingClass.class
									td!= data.name.firstName + ' ' + data.name.lastName
									td!= data.teachingSubject
									td!= data.teachingClass.schedule
									//- each val in data.teachingClass
										td!= val.schedule == '' ? 'No Schedule' : val.schedule
			.col-md-6
				#calendar(style="max-width: 900px; margin: 0 auto; height: auto;")
		//- .cd-schedule.loading
			.timeline
				ul
					li
						span 09:00
					li
						span 09:30
					li
						span 10:00
					li
						span 10:30
					li
						span 11:00
					li
						span 11:30
					li
						span 12:00
					li
						span 12:30
					li
						span 13:00
					li
						span 13:30
					li
						span 14:00
					li
						span 14:30
					li
						span 15:00
					li
						span 15:30
					li
						span 16:00
					li
						span 16:30
					li
						span 17:00
					li
						span 17:30
					li
						span 18:00
			// .timeline
			.events
				ul
					li.events-group
						.top-info
							span Monday
						ul
							li.single-event(data-start='09:30', data-end='10:30', data-content='event-abs-circuit', data-event='event-1')
								a(href='#0')
									em.event-name Abs Circuit
							li.single-event(data-start='11:00', data-end='12:30', data-content='event-rowing-workout', data-event='event-2')
								a(href='#0')
									em.event-name Rowing Workout
							li.single-event(data-start='14:00', data-end='15:15', data-content='event-yoga-1', data-event='event-3')
								a(href='#0')
									em.event-name Yoga Level 1
					li.events-group
						.top-info
							span Tuesday
						ul
							li.single-event(data-start='10:00', data-end='11:00', data-content='event-rowing-workout', data-event='event-2')
								a(href='#0')
									em.event-name Rowing Workout
							li.single-event(data-start='11:30', data-end='13:00', data-content='event-restorative-yoga', data-event='event-4')
								a(href='#0')
									em.event-name Restorative Yoga
							li.single-event(data-start='13:30', data-end='15:00', data-content='event-abs-circuit', data-event='event-1')
								a(href='#0')
									em.event-name Abs Circuit
							li.single-event(data-start='15:45', data-end='16:45', data-content='event-yoga-1', data-event='event-3')
								a(href='#0')
									em.event-name Yoga Level 1
					li.events-group
						.top-info
							span Wednesday
						ul
							li.single-event(data-start='09:00', data-end='10:15', data-content='event-restorative-yoga', data-event='event-4')
								a(href='#0')
									em.event-name Restorative Yoga
							li.single-event(data-start='10:45', data-end='11:45', data-content='event-yoga-1', data-event='event-3')
								a(href='#0')
									em.event-name Yoga Level 1
							li.single-event(data-start='12:00', data-end='13:45', data-content='event-rowing-workout', data-event='event-2')
								a(href='#0')
									em.event-name Rowing Workout
							li.single-event(data-start='13:45', data-end='15:00', data-content='event-yoga-1', data-event='event-3')
								a(href='#0')
									em.event-name Yoga Level 1
					li.events-group
						.top-info
							span Thursday
						ul
							li.single-event(data-start='09:30', data-end='10:30', data-content='event-abs-circuit', data-event='event-1')
								a(href='#0')
									em.event-name Abs Circuit
							li.single-event(data-start='12:00', data-end='13:45', data-content='event-restorative-yoga', data-event='event-4')
								a(href='#0')
									em.event-name Restorative Yoga
							li.single-event(data-start='15:30', data-end='16:30', data-content='event-abs-circuit', data-event='event-1')
								a(href='#0')
									em.event-name Abs Circuit
							li.single-event(data-start='17:00', data-end='18:30', data-content='event-rowing-workout', data-event='event-2')
								a(href='#0')
									em.event-name Rowing Workout
					li.events-group
						.top-info
							span Friday
						ul
							li.single-event(data-start='10:00', data-end='11:00', data-content='event-rowing-workout', data-event='event-2')
								a(href='#0')
									em.event-name Rowing Workout
							li.single-event(data-start='12:30', data-end='14:00', data-content='event-abs-circuit', data-event='event-1')
								a(href='#0')
									em.event-name Abs Circuit
							li.single-event(data-start='15:45', data-end='16:45', data-content='event-yoga-1', data-event='event-3')
								a(href='#0')
									em.event-name Yoga Level 1
			.event-modal
				header.header
					.content
						span.event-date
						h3.event-name
					.header-bg
				.body
					.event-info
					.body-bg
				a.close(href='#0') Close
			.cover-layer
