doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
		link(rel='stylesheet', type='text/css', href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='fonts/iconic/css/material-design-iconic-font.min.css')
		link(rel='stylesheet', type='text/css', href='vendor/animate/animate.css')
		link(rel='stylesheet', type='text/css', href='vendor/css-hamburgers/hamburgers.min.css')
		link(rel='stylesheet', type='text/css', href='vendor/animsition/css/animsition.min.css')
		link(rel='stylesheet', type='text/css', href='vendor/select2/select2.min.css')
		link(rel='stylesheet', type='text/css', href='vendor/daterangepicker/daterangepicker.css')
		link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		block css
	body
		block content

		script(src='https://code.jquery.com/jquery.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
		script(src='vendor/animsition/js/animsition.min.js')
		script(src='vendor/bootstrap/js/popper.js')
		script(src='vendor/select2/select2.min.js')
		script(src='vendor/daterangepicker/moment.min.js')
		script(src='vendor/daterangepicker/daterangepicker.js')
		script(src='vendor/countdowntime/countdowntime.js')
		//- script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js')
		script(src='js/script.js')

		block script