extends layout

block content
	.limiter
		.container-login100
			.wrap-login100
				if (error && error.length > 0)
					.alert.alert-danger!= error
				form.login100-form.validate-form(role='form', action='/login', method='post')
					input(type='hidden', name='_csrf', value=_csrf)
					span.login100-form-title.p-b-26
						| Welcome to iHRMS
					span.login100-form-title.p-b-48
						a(href="/")
							i.zmdi.zmdi-home
					.wrap-input100.validate-input(data-validate='Enter username')
						input.input100(type='text', name='username')
						span.focus-input100(data-placeholder='username')
					.wrap-input100.validate-input(data-validate='Enter password')
						span.btn-show-pass
							i.zmdi.zmdi-eye
						input.input100(type='password', name='password')
						span.focus-input100(data-placeholder='Password')
					.container-login100-form-btn
						.wrap-login100-form-btn
							.login100-form-bgbtn
							button.login100-form-btn
								| Login
					.text-center.p-t-115
						span.txt1
							| Don’t have an account?
						a.txt2(href='/register')
							|  Sign Up
	#dropDownSelect1

//- extends layout

//- block content
//- 	.container
//- 		h1 Login Page
//- 		p.lead Say something worthwhile here.
//- 		br
//- 		form(role='form', action="/login",method="post", style='max-width: 300px;')
//- 			input(type='hidden', name='_csrf', value=_csrf)
//- 			.form-group
//- 					input.form-control(type='text', name="username", placeholder='Enter Username')
//- 			.form-group
//- 				input.form-control(type='password', name="password", placeholder='Password')
//- 			button.btn.btn-default(type='submit') Submit
//- 			a(href='/')
//- 				button.btn.btn-primary(type="button") Cancel



