extends layout

block content
	.limiter
		.container-login100
			.wrap-login100
				if (error && error.length > 0)
					.alert.alert-danger!= error
				form.login100-form.validate-form(role='form', action='/register', method='post')
					input(type='hidden', name='_csrf', value=_csrf)
					span.login100-form-title.p-b-26
						| Register to iHRMS
					span.login100-form-title.p-b-48
						a(href="/")
							i.zmdi.zmdi-home
					//- .wrap-input100.validate-input(data-validate='Enter First Name')
						input.input100(type='text', name='firstName')
						span.focus-input100(data-placeholder='First Name')
					//- .wrap-input100.validate-input(data-validate='Enter Last Name')
						input.input100(type='text', name='lastName')
						span.focus-input100(data-placeholder='Last Name')
					.wrap-input100.validate-input(data-validate='Enter username')
						input.input100(type='text', name='username')
						span.focus-input100(data-placeholder='username')
					.wrap-input100.validate-input(data-validate='Enter password')
						span.btn-show-pass
							i.zmdi.zmdi-eye
						input.input100(type='password', name='password')
						span.focus-input100(data-placeholder='Password')
					.container-login100-form-btn
						.wrap-login100-form-btn
							.login100-form-bgbtn
							button.login100-form-btn
								| Register
					.text-center.p-t-115
						span.txt1
							| Go back 
						a.txt2(href='/')
							|  home
	#dropDownSelect1